Repository MicrosoftDocs/OfficeDocs-SharePoint, pull requests merged in 2023-12, with the labels that each got.

#4118 Add issue template config file and update docfx.json
  .github/ISSUE_TEMPLATE/config.yml
  OneDrive/docfx.json
  SharePoint/docfx.json
  migration/docfx.json
Labels: Microsoft submitter

#4033 Update spmt-install-issues.md
  migration/spmt-install-issues.md
Labels: Microsoft submitter, microsoft-365-migration/svc

#4034 Update SPMT-settings.md
  migration/SPMT-settings.md
Labels: Microsoft submitter, microsoft-365-migration/svc

#4122 Update authentication-context-example.md
  SharePoint/SharePointOnline/authentication-context-example.md
Labels: Microsoft submitter, sharepoint-online/svc, Tier1
