Repository MicrosoftDocs/OfficeDocs-SharePoint, pull requests merged in 2024-04, with the labels that each got.

#4151 Update mm-google-step4-review-destinations.md
  migration/mm-google-step4-review-destinations.md
Labels: Microsoft submitter, microsoft-365-migration/svc

#4153 Update TOC.md
  migration/TOC.md
Labels: Microsoft submitter

#4154 Update mm-box-step2-scan-assess.md
  migration/mm-box-step2-scan-assess.md
Labels: Microsoft submitter, microsoft-365-migration/svc

#4156 Update mm-unsupported-files.md
  migration/mm-unsupported-files.md
Labels: Microsoft submitter, microsoft-365-migration/svc

#4159 Update exclude specific folders from upload section
  SharePoint/SharePointOnline/use-group-policy.md
Labels: Microsoft submitter, one-drive/svc

#4158 Fix formatting for asterisk
  SharePoint/SharePointOnline/use-group-policy.md
Labels: Microsoft submitter, one-drive/svc
